.calendarContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dayCard {
  margin: 8px;
  width: 155px;
  background-color: antiquewhite;
  border: solid black 1px;
  text-align: center;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
}

.dayCard:hover {
  background-color: teal;
}

.restDay {
  background-color: purple;
  color: white;
}
